$yellow: #ffe200;
$yellow-dark: #f1b200;

html, body {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    color: #333;
    font-family: sans-serif;
}

header {
    align-items: baseline;
    backdrop-filter: blur(2px);
    background: rgba(#fff, 0.8);
    border-bottom: 2px solid #ccc;
    display: flex;
    flex-flow: row nowrap;
    left: 0;
    right: 0;
    justify-content: flex-start;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;

    h1 {
        font-size: 2rem;
        line-height: 1;
        margin: 0;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 1;
        margin: 0 0 0 1rem;
    }
}

footer {
    align-items: stretch;
    border-top: 2px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-content: space-evenly;
    margin: 2em -1rem 0 -1rem;
    margin-top: 2em;
    padding: 2em;
    text-align: left;
    width: calc(100% + 2em);

    h2 {
        margin-top: 0;
    }
}

.identity {
    backdrop-filter: blur(2px);
    background: rgba(#f3f3f3, 0.8);
    border: 2px solid #333;
    bottom: 0.5em;
    padding: 0.5em;
    position: fixed;
    right: 0.5em;
    text-align: center;
    z-index: 100;

    img {
        background: #fff;
        border: 2px solid #000;
        box-sizing: border-box;
    }

    h3 {
        margin: 0 0 0.5em 0;
    }
}

.wrap {
    margin: 0 auto;
    padding: 5rem 1em 1em 1em;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, minmax(80px, 1fr));
    grid-gap: 1em;
}

.tile {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;

    &:focus, &:hover {
        .front, .back {
            box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
        }
    }

    .front, .back {
        backface-visibility: hidden;
        box-sizing: border-box;
        height: 100%;
        transform-style: preserve-3d;
        transition: 800ms, box-shadow 200ms;
    }

    // front of card
    .front {
        background: $yellow;
        border: 2px outset $yellow;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 0.5em;
        text-align: center;

        img {
            background: #fff;
            border: 2px solid #000;
            box-sizing: border-box;
            height: auto;
            width: 100%;
        }

        .name {
            display: block;
            font-size: 0.75em;
            margin-top: 0.5em;
        }
    }

     // back of card
    .back {
        background: $yellow-dark;
        border: 2px outset $yellow-dark;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotateX(180deg);
    }

    // flipped over
    &.hidden {

        .front {
            transform: rotateX(180deg);
        }

        .back {
            transform: rotateX(360deg);
        }
    }
}

label {
    display:block;
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    + input[type=text] {
        margin-top: 0.25em;
    }
}

input[type=text] {
    border: 2px solid #999;
    border-radius: 4px;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.2);
    box-sizing: border-box;
    font-size: 1.25em;
    max-width: 100%;
    padding: 0.5em;
    width: 300px;

    &:focus {
        border-color: #000;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4), 0 0 0 3px $yellow-dark;
        outline: none;
    }
}

.button {
    background: $yellow-dark;
    border: 2px solid $yellow-dark;
    border-radius: 2px;
    border-radius: 3em;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    max-width: 100%;
    padding: 0.5em 1em;
    transition: all 200ms;

    &:focus, &:hover {
        background: $yellow;
        border: 2px solid $yellow-dark;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    }
}

@media screen and (max-width: 767px) {
    .board {
        grid-template-columns: repeat(6, minmax(80px, 1fr));
    }
}

@media screen and (max-width: 599px) {
    .board {
        grid-template-columns: repeat(4, minmax(80px, 1fr));
    }
}
